<!-- Menu Screen - Refer to sidebar.scss -->
<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left Menu Bar -->

  <ion-side-menu side="left" ng-controller="NavigationCtrl">
    <ion-content class="menu-screen" >

      <!-- Profile Section -->
      <div class="profile-box">
        <!--
        <img src="img/demo/profile-image.jpg" alt="" class="profile-box-thumb">
        <div class="profile-box-details">
          <h4 class="profile-name brand-base-text-color">Samuel L Jackson</h4>
          <h6 class="profile-location brand-base-text-color"><i class="ion-compass"></i> A Tower, New York</h6>
        </div>
      -->

      
 <img src="img/title_logo.png" width="240" alt="" >
       
       <!--<h1 class="profile-name brand-base-text-color">fanAlert</h1>
-->
        <i class="profile-settings-icons"></i>
      </div>
   
      <!-- End Ionic List -->

      <!-- Group Header -->
      <!-- <h6 class="group-header">Menu</h6> -->
      <!-- End Group Header -->

      <!-- Ionic List -->
      <ion-list>

          <ion-item nav-clear menu-close ng-click="go('app.running')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-arrow-right-b"></i>
            Now Showing
          </ion-item>

          <ion-item nav-clear menu-close ng-click="go('app.upcoming_open')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-arrow-right-b"></i>
            Upcoming (Book. Open)
          </ion-item>

          <ion-item nav-clear menu-close ng-click="go('app.upcoming')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-arrow-right-b"></i>
            Coming Soon
          </ion-item>
          <!--
          <ion-item nav-clear menu-close ng-click="go('app.all')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-arrow-right-b"></i>
            All Movies
          </ion-item>
          -->
          

          <ion-item nav-clear menu-close ng-click="go('app.feed')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-ios-paper"></i>
            Events Feed
            <!--<span class="badge badge-positive">0</span>-->
          </ion-item>


          <ion-item nav-clear menu-close ng-click="go('app.profile')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-person"></i>
            Profile
          </ion-item>

          <!--
          <ion-item nav-clear menu-close ng-click="go('app.signup')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-person-add"></i>
            Register
            
          </ion-item>
          -->
          <!--

           <ion-item nav-clear menu-close ng-click="go('app.login')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-log-in"></i>
            Login
            
           </ion-item>
          -->
           <ion-item nav-clear menu-close ng-click="go('app.intro')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-log-in"></i>
            Intro
            
           </ion-item>
          <!--
          <ion-item nav-clear menu-close ng-click="go('app.view-post')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-document"></i>
            View Post/Article
          </ion-item>
          <ion-item nav-clear menu-close ng-click="go('app.tinder-one')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-flame"></i>
            Tinder Style 1 (New)
          </ion-item>
          <ion-item nav-clear menu-close ng-click="go('app.tinder-two')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-flame"></i>
            Tinder Style 2 (New)
          </ion-item>
          <ion-item nav-clear menu-close ng-click="go('app.tinder-three')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-flame"></i>
            Tinder Style 3 (New)
          </ion-item>
          <ion-item nav-clear menu-close ng-click="go('app.tinder-four')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-flame"></i>
            Tinder Style 4 (New)
          </ion-item>
          <ion-item nav-clear menu-close ng-click="go('app.chat-list')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-chatbubbles"></i>
            Chat UI
          </ion-item>
          <ion-item nav-clear menu-close ng-click="go('app.forms')" class="item item-icon-left brand-base-text-color">
            <i class="icon ion-ios-list"></i>
            Form UI
          </ion-item>

        -->
      </ion-list>
      <!-- End Ionic List -->

    </ion-content>

    <!-- Footer Bar and Buttons -->

    <ion-footer-bar class="auto-height bar-assertive menu-footer-bar" >
      <div class="row">
       <!-- <button class="col button button-dark"><i class="ion-gear-b"></i> Settings</button> -->
        <button class="col button button-clear" ng-click="logout()" ><i class="ion-log-out"></i> Logout</button>
      </div>
    </ion-footer-bar>

    <!-- End Footer Bar and Buttons -->

  </ion-side-menu>

  <!-- End Left Menu Bar -->




</ion-side-menus>
